NODE_ENV=production

DATABASE_URL=postgresql://pawuser:password@localhost:5432/pawactivity

JWT_SECRET=CHANGE_THIS_SECRET

API_PORT=4000
PORT=3000

API_DOMAIN=api.pawactivity.com
WEB_DOMAIN=app.pawactivity.com
